.artistPageContainer {
  background-color: #E5E5E5;
  height: 100vh;
  color: white;
  text-shadow: 1px 1px 5px #555;
  justify-content: center;
  align-items: center;
  display: flex; }
  .artistPageContainer h1 {
    font-size: 50px; }
  .artistPageContainer .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between; }
    .artistPageContainer .header .search {
      display: flex;
      flex-flow: column nowrap; }
    .artistPageContainer .header .synchronize {
      display: flex; }
