.artistPageContainer {
  background-color: #E5E5E5;
  height: 100vh;
  color: white;
  text-shadow: 1px 1px 5px #555;
  justify-content: center;
  align-items: center;
  display: flex;

  h1 {
    font-size: 50px;
  }

  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      flex-flow: column nowrap;


    }

    .synchronize {
      display: flex;
    }
  }
}